*{
    margin-top: 0px;
    padding: 6px;
    background-color: rgb(216, 237, 238);
}

input{
    margin: 10px;
    padding: 10px;
    font-size: medium;
}

label{
    argin: 10px;
    padding: 10px;
    font-size: medium;
}

th{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

.Table{
    border: 1 px solid red;
    margin-top: 20px;
    padding: 10px;
}
.heading{
    border: 2px solid red;
}